Source: python-praw
Section: web
Priority: extra
Maintainer: Javier P.L. <chilicuil@ubuntu.com>
Build-Depends:
 debhelper (>= 9),
 python-setuptools
Build-Depends-Indep:
 python
X-Python-Version: >= 2.6
Standards-Version: 3.9.4
Homepage: https://github.com/praw-dev/praw
Vcs-Git: git://github.com/minos-org/python-praw-deb.git
Vcs-Browser: https://github.com/minos-org/python-praw-deb.git

Package: python-praw
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Python Reddit API Wrapper
 PRAW, an acronym for "Python Reddit API Wrapper", is a python package that
 allows for simple access to reddit's API. PRAW aims to be as easy to use as
 possible and is designed to follow all of reddit's API rules.
